<mat-toolbar color="primary" role="heading">
  <button mat-icon-button (click)="openNav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{title}}</h1>
</mat-toolbar>
<button (click)="showa()"></button>
<div *ngIf="availabilities">
  <mat-card *ngFor="let av of Object.keys(availabilities); index as i" class="availability-item"
    [ngClass]="{'confirmed': availabilities[av]?.confirmed == true, 'pending': availabilities[av]?.confirmed == 'false'}">
    <div class="row">
      <div class="col s4">
        <p>
          {{av}}<br>{{availabilities[av]?.confirmed}}
          {{availabilities[av]?.go.name}}
        </p>
      </div>
      <div class="col s4">
          <mat-form-field class="selectStop">
              <mat-label>
                <mat-icon>room</mat-icon> <b> Stop &#160;</b>
              </mat-label>
              <mat-label>Select a stop</mat-label>
              <mat-select [(value)]="availabilities[av].go" >
                <mat-option *ngIf="availabilities[av].go.id != 0" [value]="availabilities[av].go">
                  {{availabilities[av]?.go.name}}
                </mat-option>
                <mat-option *ngFor="let stop of myStops| callback: myfilter : availabilities[av].go.id" [value]="stop">
                  {{stop?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>
      <div class="col s4">
          <mat-slide-toggle>Includi Andata</mat-slide-toggle>
      </div>
    </div>
    <mat-divider></mat-divider><br>
    <div class="row">
        <div class="col s4">
          <p>
            {{av}}<br>{{availabilities[av]?.confirmed}}
            {{availabilities[av]?.back.name}}
          </p>
        </div>
        <div class="col s4">
            <mat-form-field class="selectStop">
                <mat-label>
                  <mat-icon>room</mat-icon> <b> Stop &#160;</b>
                </mat-label>
                <mat-label>Select a stop</mat-label>
                <mat-select [(value)]="availabilities[av].back" >
                  <mat-option *ngIf="availabilities[av].back.id != 0" [value]="availabilities[av].back">
                    {{availabilities[av]?.back.name}}
                  </mat-option>
                  <mat-option *ngFor="let stop of myStops| callback: myfilter : availabilities[av].back.id" [value]="stop">
                    {{stop?.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col s4">
            <mat-slide-toggle>Includi Ritorno</mat-slide-toggle>
        </div>
      </div>
      <button *ngIf="availabilities[av]?.confirmed != true" mat-fab class="send-avail">
          <mat-icon *ngIf="availabilities[av]?.confirmed == false; else delete">send</mat-icon>
      </button>
  </mat-card>
</div>


<ng-template #delete>
  <mat-icon mat-fab class="send-avail">delete</mat-icon>
</ng-template>
