.availability-item{
    margin: 1em;
}
.confirmed{
    background-color: #C5E1A5;
}
.pending{
    background-color: #FFF59D;
}
.send-avail{
    position: absolute;
    right: -10px;
    top: 33%;
    background-color: #3f51b5;
}