<mat-toolbar color="primary" role="heading">
  <button mat-icon-button (click)="toggleRightSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{title}}</h1>
</mat-toolbar>
<button (click)="showa()">debug</button>
<div class="container">
  <div *ngIf="availabilities">
    <mat-card *ngFor="let av of availabilities; index as i" class="availability-item"
      [ngClass]="{'confirmed': av.isConfirmed == true, 'pending': av.isConfirmed == false && av.isModified == true}">
      <div class="row">
        <div class="col m4">
          <p *ngIf="av?.date" class="date"(dblclick)="av.date = null">{{av?.date| date: 'dd/MM/yyyy'}}</p>
          <mat-select *ngIf="!av?.date" (selectionChange)="updateDate($event,i)" placeholder="Seleziona data">
            <mat-option *ngFor="let d of arrayDate" [value]="d">
              {{d}}
            </mat-option>
          </mat-select>
          <p *ngIf="av.isConfirmed; else nonconfermata">Confermata</p>
          <p *ngIf="av?.goStop?.id">Andata: {{av?.goStop.name}}</p>
          <p *ngIf="av?.backStop?.id">Ritorno: {{av?.backStop.name}}</p>
        </div>
        <div class="col m8">
          <div class="row">
            <div class="col m6">
              <mat-form-field class="selectStop">
                <mat-label>
                  <mat-icon>room</mat-icon> <b> Stop &#160;</b>
                </mat-label>
                <mat-label>Select a stop</mat-label>
                <mat-select [(value)]="av.goStop">
                  <mat-option *ngIf="av?.goStop" [value]="av.goStop" selected>
                    {{av?.goStop.name}}
                  </mat-option>
                  <mat-option *ngFor="let stop of myStops" [value]="stop">
                    {{stop?.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col m6">
              <mat-slide-toggle [checked]="av?.goStop" (change)="toggle($event,i,'go')">Includi
                Andata</mat-slide-toggle>
            </div>
          </div>
          <div class="row">
            <div class="col m6">
              <mat-form-field class="selectStop">
                <mat-label>
                  <mat-icon>room</mat-icon> <b> Stop &#160;</b>
                </mat-label>
                <mat-label>Select a stop</mat-label>
                <mat-select [(value)]="av.backStop">
                  <mat-option *ngIf="av?.backStop" [value]="av.backStop" selected>
                    {{av?.backStop.name}}
                  </mat-option>
                  <mat-option *ngFor="let stop of myStops" [value]="stop">
                    {{stop?.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col m6">
              <mat-slide-toggle [checked]="av?.backStop" (change)="toggle($event,i,'go')">Includi
                Ritorno</mat-slide-toggle>
            </div>
          </div>
        </div>
      </div>
      <button *ngIf="(av.goStop || av.backStop) && (!av.isConfirmed) && (av.date)" mat-fab class="send-avail" (click)="send(i)">
        <mat-icon >send</mat-icon>
      </button>
    </mat-card>
  </div>
</div>



<ng-template #delete>
  <mat-icon mat-fab class="send-avail">delete</mat-icon>
</ng-template>
<ng-template #nonconfermata>
  <p>Non confermata</p>
</ng-template>

<ng-template #dateSelector>
  <mat-select (selectionChange)="updateDate($event)" required>
    <mat-option *ngFor="let d of arrayDate" [value]="d">
      {{d}}
    </mat-option>
  </mat-select>
</ng-template>