.go-svg {
    transform: rotate(-90deg);
    height: 24px;
}

.back-svg {
    transform: rotate(90deg);
    height: 24px;
}

.go-icon {
    position: absolute;
    left: 25px;
    top: 25px;
}

.back-icon {
    position: absolute;
     right : 25px;
    top: 25px;
}

.el{
    text-align: center;    
}
.side-el {
    width: 40%;
}

.middle-el{
    width: 20%
}

.reservation-item{
    max-width :1200px;
    width: 95%;
    display: inline-flex;
    margin: 20px;
}

.m-10{
    margin: 10px;
}
.checkStop{
    margin: 0 10px;
}
.selectStop{
    margin-left: 50px;
}

.reservation-date {

    font-size: 1.2em;
    padding: 4px;

}