.go-svg {
    transform: rotate(-90deg);
    height: 24px;
}

.back-svg {
    transform: rotate(90deg);
    height: 24px;
}

.go-icon {
    left: 25px;
    top: 25px;
}

.back-icon {
     right : 25px;
    top: 25px;
}

.el{
    text-align: center;    
}
.side-el {
    width: 40%;
}

.middle-el{
    width: 20%
}

.reservation-item{
    max-width :1200px;
    width: 95%;
    display: inline-flex;
    margin: 20px;
}

.m-10{
    margin: 10px;
}
.checkStop{
    margin: 0 10px;
}
.selectStop{
    margin-left: 50px;
}

.reservation-date {

    font-size: 1em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 100px;
    background: var(--accent-color);
    color: white;
    text-align: center;
    z-index: -1;
    top: -24px;
    border-radius: 5px 5px 0 0;
}

.mat-card{
    max-width: 600px;
    margin: 0 auto 2.5em auto;
}
.primo{
    margin-top: 2em!important;
}

mat-form-field{
    display: block;
}