<mat-toolbar color="primary" role="heading">
    <button mat-icon-button (click)="toggleRightSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>{{title}}</h1>
  </mat-toolbar>

  <mat-tab-group [color]="this.color" [backgroundColor]="this.backgroundColor" mat-stretch-tabs>
      <mat-tab label="Lista Utenti">
        <ng-template matTabContent>
            <app-list-users></app-list-users>
        </ng-template>
      </mat-tab>

      <mat-tab *ngIf="u?.roles.includes('ROLE_ADMIN')" label="Invita Utenti">
          <ng-template matTabContent>
              <app-invite-user></app-invite-user>
          </ng-template>
        </mat-tab>
  </mat-tab-group>