<mat-sidenav-container class="sidenav-container light-theme">
  <mat-sidenav #sidenav class="sidenav" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    opened="true" *ngIf="user$|async as u">
    <mat-toolbar><mat-icon mat-list-icon>person</mat-icon> {{u.firstName}}</mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list >
      <a *ngIf="u?.children.length" mat-list-item [routerLink]="['attendees']">Presenze</a>
      <a *ngIf="u?.children.length"  mat-list-item [routerLink]="['availabilities']">Disponibilità</a>
      <a *ngIf="u?.roles.includes('ROLE_ADMIN')" mat-list-item [routerLink]="['linebuilder']">Nuova Linea</a>
      <a *ngIf="u?.children.length" mat-list-item [routerLink]="['parent_dashboard']">Dashboard genitori</a>
      <a *ngIf="u?.roles.includes('ROLE_LINEADMIN')" mat-list-item [routerLink]="['scheduling']">Gestione turni</a>
      <a *ngIf="u?.roles.includes('ROLE_ADMIN')"  mat-list-item [routerLink]="['users']">Utenti</a>
      <a mat-list-item [routerLink]="['notifications']">
        <span [matBadge]="count$|async" matBadgeOverlap="false">Notifiche</span>
      </a>
      <mat-divider></mat-divider>
      <div>
        <a mat-list-item [routerLink]="['settings']"><mat-icon>phonelink_setup</mat-icon>Impostazioni</a>
        <a mat-list-item href="#" (onclick)="logout()">Esci</a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>