<mat-toolbar color="primary" role="heading">
    <button mat-icon-button (click)="toggleRightSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1>{{title}}</h1>
</mat-toolbar>

<div class="container">
    <div class="row">
        <div class="col offset-l2 l8 s12">
            <mat-card>
                <div class="row">
                    <div class="col m6">
                        <p>Il tuo nome: </p>
                    </div>
                    <div class="col m6">
                        <p contenteditable="true">
                            {{user.firstName}}
                        </p>
                    </div>
                    <div class="col m6">
                        <p>La tua linea: </p>
                    </div>
                    <div class="col m6 s12">
                        <mat-form-field>
                            <mat-label>Linea Predefinita</mat-label>
                            <mat-select [(value)]="line">
                                <mat-option>None</mat-option>
                                <mat-option *ngFor="let line of lines" [value]="line">{{line.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

</div>