<mat-toolbar color="primary" role="heading">
    <button mat-icon-button (click)="toggleRightSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1>{{title}}</h1>
</mat-toolbar>

<div class="container">
    <div class="row">
        <div class="col offset-l3 l6 s12">
            <mat-card>
                <div class="row">
                    <div class="col m6">
                        <h5>Il tuo nome: </h5>
                    </div>
                    <div class="col m6">
                        <h5 contenteditable="true">
                            {{user.firstName}}
                        </h5>
                    </div>
                    <div class="col m6">
                        <h5>La tua linea: </h5>
                    </div>
                    <div class="col m6 s12">
                        <mat-form-field>
                            <mat-label>Linea Predefinita</mat-label>
                            <mat-select [(value)]="selected">
                                <mat-option>None</mat-option>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>

</div>