<div class="container">
  <mat-card>
    <div *ngIf="users">
      <table class="table table-striped">
          <thead>
            <tr>          
                <th><span>Nome</span></th>
                <th><span>Cognome</span></th>
                <th><span>Email</span></th>
                <th><span>Indirizzo</span></th>
            </tr>
          </thead>
          <tbody>
          <tr *ngFor="let user of users">
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.username}}</td>
              <td>{{user?.address}}</td>
              <td><button mat-raised-button color="primary" (click)="promuovi(user)"
                *ngIf="!myFilter(user)">Promuovi</button></td>
              <td><button mat-raised-button (click)="declassa(user)" 
                *ngIf="myFilter(user)">Declassa</button></td>
          </tr>
          </tbody>
      </table>
  </div>
  </mat-card>
  
</div>
