.mat-paginator
    background-color: transparent !important;
    color: white !important

.success
    color green 

.danger 
    color red

.isReserved
    color blue

.example-spacer
  flex: 1 1 auto;

.mycard
    margin 1em
    text-align: left

.myMatList
    display: block !important    

.bold
    font-weight: bold

.passenger
    cursor pointer
    display: inline
    font-size: 1.2em
    
.passengers.mat-line    
    margin-left: 1.8em;

.stopname
    text-decoration: underline;    