<mat-toolbar color="primary" role="heading">
  <button mat-icon-button (click)="openNav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{title}}</h1>
  <span class="example-spacer"></span>
  <mat-paginator #paginator [length]="length" [pageSize]="pageSize" hidePageSize=true (page)="getPaginatorData($event)">
  </mat-paginator>

</mat-toolbar>
<div>
  <mat-card *ngFor="let res of goReservations" class="mycard">
    <mat-list *ngIf="res?.date == currentDate && res?.isGo==true; else loading">
      <mat-list-item  *ngFor="let stop of res?.stops">
        <div mat-line><input type="radio"> {{stop.time + '&#160;' + stop.name + '&#160;'}}</div>
        <div mat-line class="passengers">
        <p *ngFor="let pass of stop?.passengers" [ngClass]="{'isReserved':pass?.reserved=='true'}"
          [class.bold]="myGoPassengers[pass?.id]" class="passenger" (click)="checkin(pass?.id,'go')">
          {{pass.name + '&#160;'}}
        </p>
      </div>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <mat-card *ngFor="let res of backReservations" class="mycard">
    <mat-list *ngIf="res?.date == currentDate && res?.isGo==false; else loading">
        <mat-list-item  *ngFor="let stop of res?.stops">
            <div mat-line><input type="radio"> {{stop.time + '&#160;' + stop.name + '&#160;'}}</div>
            <div mat-line class="passengers">
            <p *ngFor="let pass of stop?.passengers" [ngClass]="{'isReserved':pass?.reserved=='true'}"
              [class.bold]="myBackPassengers[pass?.id]" class="passenger" (click)="checkin(pass?.id,'back')">
              {{pass.name + '&#160;'}}
            </p>
          </div>
          </mat-list-item>
    </mat-list>
  </mat-card>

</div>

<ng-template #loading>
  <div>Loading ...</div>
</ng-template>