<mat-toolbar color="primary" role="heading">
  <button mat-icon-button (click)="toggleRightSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{title}}</h1>
  <span class="spacer"></span>
  <mat-paginator #paginator [length]="length" [pageSize]="pageSize" hidePageSize=true (page)="getPaginatorData($event)">
  </mat-paginator>
</mat-toolbar>

<mat-tab-group [color]="this.color" [backgroundColor]="this.backgroundColor" mat-stretch-tabs>
    <mat-tab label="Andata">
      <ng-template matTabContent>
          <div class="container">
              <mat-card *ngIf="showedRes; else loading" class="mycard">
                <mat-list>
                  <mat-list-item *ngFor="let ds of showedRes">
                    <p>
                        {{ds?.timeGo + '&#160;' + ds?.name}} <br>
                        <span *ngFor="let res of ds?.reservations;last as isLast"
                        class="passenger"
                          [ngClass]="{'isReserved':res?.isBooked, 'bold':res?.isConfirmed}"
                          (click)="checkin(res)">
                        {{res?.child.firstName}} <span *ngIf="!isLast">,</span>
                        </span>
                    </p>
                  </mat-list-item>
                </mat-list>
              </mat-card>
            </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Ritorno">
      <ng-template matTabContent>
        <div class="container">
          <mat-card class="mycard">
          <p>aaaaaaaaaaa</p>
        </mat-card>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>



<ng-template #loading>
  <div>Loading ...</div>
</ng-template>