#container {
  display: flex;
  min-height: 100vh;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgrey;
}

.card {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 50px; 
}