
.card {
  max-width: 320px;
    display: block;
    padding: 2em;

    left: 50%;
    top: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.mat-raised-button{
    display: block;
    margin: 0 auto!important;
}
h1 {
  font-family: raleway, sans-serif;
  font-weight: 900;
}

mat-spinner{
  margin: 0 auto;
  text-align: center;
}

.wrapper{
  background-image: url(/../../assets/escursioni-etna.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0px;
  z-index: -1;
}