<mat-toolbar color="primary" role="heading">
    <h1>{{title}}</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container light-theme">
      <mat-sidenav-content>
          <div class="container" (keydown.enter)="login()">
              <mat-card class="card">
                <mat-card-header>
                  <mat-card-title>Login</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <form class="example-form">
                    <table class="example-full-width" cellspacing="0">
                      <tr>
                        <td>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                          </mat-form-field>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
                          </mat-form-field>
                        </td>
                      </tr>
                    </table>
                  </form>
                  <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
                </mat-card-content>
                <form (submit)="login()" action="#">
                  <button type="submit" mat-raised-button (keydown.enter)="login()" (click)="login()" color="primary">Login</button>
                </form>
            
              </mat-card>
            </div>
        </mat-sidenav-content> 

