<mat-toolbar color="primary" role="heading">
  <button mat-icon-button (click)="openNav.emit()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{title}}</h1>
</mat-toolbar>
<div class="row">
  <div class="example-button-row col s12 center">

    <button mat-raised-button class="date-btn">19/02/18</button>
    <button mat-raised-button class="date-btn">19/02/18</button>
    <button mat-raised-button class="date-btn">19/02/18</button>
    <button mat-raised-button class="date-btn">19/02/18</button>
    <button mat-raised-button class="date-btn">19/02/18</button>
    <button mat-raised-button class="date-btn">19/02/18</button>
    <button mat-raised-button class="date-btn">19/02/18</button>

  </div>
</div>

<h2 class="center">Corsa di andata</h2>
<mat-card class="mycard mat-elevation-z4">
  <ul>
    <li>1 <span>piazza castello</span></li>
    <li>2<span>piazza s.carlo</span></li>
    <li class="active">1</li>
    <li>0</li>
    <li>5 <span>rocca fiorita</span></li>
    <li>S</li>
  </ul>

</mat-card>