<mat-toolbar color="primary" role="heading">
  <button mat-icon-button (click)="toggleRightSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{title}}</h1>
</mat-toolbar>
<div class="container">
  <div class="row">
    <div class="example-button-row col s12 center">
      <button *ngFor="let date of datesFE; index as i;" (click)="selectDay(i)" mat-raised-button
        class="date-btn" [ngClass]="{'selected': selectedFEDate == date}">{{date}}</button>
    </div>
  </div>

  <h2 class="center">Corsa di andata</h2>
  <mat-card class="mycard mat-elevation-z4">
    <div class="row">
      <div class="col m6 offset-m3 s12 ">
        <ul>
          <li *ngFor="let stop of stops" matTooltip="Bambini prenotati">
            {{stop.reservations.length}}<span>{{stop.name}}</span></li>
          <li matTooltip="Scuola">S</li>
        </ul>
      </div>
    </div>

    <mat-divider></mat-divider><br>
    <div *ngFor="let av of availabilities; index as i;" [matTooltip]="tipFor(av)">
    <div class="row" 
    [ngClass]="{'confirmed': av.isConfirmed, 'modified': av.isModified}" >
      <div class="col m3 s6 offset-s3">
        <p *ngIf="av.user.firstName"class="chaperon">{{av.user.firstName}}</p>
        <p *ngIf="!av.user.firstName"class="chaperon">Sconosciuto</p>
      </div>
      <div *ngIf="av.requestedStop" class="col s12 m6">
        <ul class="availabilities_ul">
          <li *ngFor="let stop of stops" (click)="toggleClass(stop, i)"
            [ngClass]="{'active': av.requestedStop.id == stop.id}" > &#10140;
          </li>
          <li matTooltip="Scuola">S</li>
        </ul>
      </div>
      <div class="col m3 s6 offset-s3">
        <mat-slide-toggle [(ngModel)]="av.isModified" (change)="enableSaving()" class="confirm-toggle">Richiesta</mat-slide-toggle>
      </div>
    </div>
  </div>
  </mat-card>

  <h2 class="center">Corsa di ritorno</h2>
  <mat-card class="mycard mat-elevation-z4">
    <div class="row">
      <div class="col  m6 offset-m3 s12 ">
        <ul>
          <li *ngFor="let stop of backStops" matTooltip="Bambini prenotati">
            {{stop.reservations.length}}<span>{{stop.name}}</span></li>
          <li matTooltip="Fine">F</li>
        </ul>
      </div>
    </div>

    <mat-divider></mat-divider><br>
    <div class="row" *ngFor="let av of backAvailabilities; index as i;"
    [ngClass]="{'confirmed': av.isConfirmed, 'modified': av.isModified}">
      <div class="col  m3 s6 offset-s3">
        <p *ngIf="av.user.firstName"class="chaperon">{{av.user.firstName}}</p>
        <p *ngIf="!av.user.firstName"class="chaperon">Sconosciuto</p>
      </div>
      <div *ngIf="av.requestedStop" class="col s12 m6">
        <ul class="availabilities_ul">
          <li *ngFor="let stop of backStops" (click)="toggleClass(stop, i)"
            [ngClass]="{'active': av.requestedStop.id == stop.id}" > &#10140;
          </li>
          <li matTooltip="Fine">F</li>
        </ul>
      </div>
      <div class="col m3 s6 offset-s3">
        <mat-slide-toggle [(ngModel)]="av.isModified" (change)="enableSaving()" class="confirm-toggle">Richiesta
        </mat-slide-toggle>
      </div>
    </div>
  </mat-card>
</div>
<button *ngIf="dirty" mat-fab class="save-fab" (click)="updateAll()">
  <mat-icon>done</mat-icon>
</button>