.confirmed{
  pointer-events: none;
}
.modified{
  // pointer-events: none;
}

.date-btn.selected {
  background: var(--accent-color);
  color: white;
}

.modified .availabilities_ul>li{
  background: #E1F5FE;
  border: none;
  color: white;
}

.modified .availabilities_ul>li.active {
  background: #03A9F4;
  color: white;
}

.modified .active ~ li {
  background: #03A9F4;
  color: white;
}
.modified .availabilities_ul>li.active ~ li {
  background: #03A9F4;
  color: white;
}

.confirmed .availabilities_ul>li{
  background: #E0F2F1;
  border: none;
  color: white;
}

.confirmed .availabilities_ul>li.active {
  background: #009688;
  color: white;
}

.confirmed .active ~ li {
  background: #009688;
  color: white;
}
.confirmed .availabilities_ul>li.active ~ li {
  background: #009688;
  color: white;
}

.date-btn{
    margin: 5px;
}

.mycard{
  margin: 0 auto;
  max-width: 1000px;
  padding: 2em;
    }

ul{
    position: relative;
    z-index: 999;
    text-align: center;
    line-height: 2.5em;
}
li {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: #3f51b5;
  margin: 0 2em;
  display: inline-block;
  color: white;
  position: relative;
  //z-index: 998;
  transition: all 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

li::before{
  content: '';
  position: absolute;
  top: .9em;
  left: -4em;
  width: 4em;
  height: .2em;
  background: #00189c40;
  z-index: -1;
}

li:first-child::before {
  display: none;
}

.availabilities_ul>li{
  background: white;
  border: solid 2px #3f51b5;
  cursor: pointer;
  color: #3f51b5;
}

.availabilities_ul>li.active {
  background:  #3f51b5;
  color: white;
}

.availabilities_ul>li.active ~ li {
  background: #3f51b5;
  color: white;
}

.active ~ li::before {
  background: rgb(0, 55, 100);
}

body {
  font-family: sans-serif;
  padding: 2em;
}

span {
    position: absolute;
    color: #434348;
    font-size: smaller;
    line-height: normal;
    margin: 0 auto;
    text-shadow: 0px 0px 3px #0000001f;
    left: 32px;
}

p.chaperon {
  border: solid 2px #3f51b5;
  padding: 5px;
  max-width: 250px;
  border-radius: 19px;
  color: #3f51b5;
  text-align: center;
  font-weight: 500;
  text-transform: capitalize;
}

.modified p.chaperon {
  border: solid 2px #03A9F4;
  color: #03A9F4;
}

.confirmed p.chaperon {
  border: solid 2px #009688;
  color: #009688;
}

.confirm-toggle{
  line-height: 4em;
  height: auto;
}



$colorTrack: #2788d0 !default;
$colorThumb: orange !default;

$h: 2em;
$w: 100%;

@mixin trackN($n) {
  input[type='range'].n.n#{$n}:before {
    $bgW: $w / ($n - 1);
    background-size: (
      $bgW $h, 
      $w .25em
    );
  }
}

@mixin track() {
  width: $w;
  box-sizing: border-box;
  height: $h;
  border-radius: $h/2;
  // margin-right: 1em;
  box-sizing: content-box;
  background: 
    (
      radial-gradient(circle at $h/2 50%, $colorTrack .3125em, $colorTrack .3125em, $colorTrack $h/2,transparent $h/2),
      linear-gradient(90deg, transparent $h, $colorTrack $h) repeat-x 0 50%
    );
}

@mixin thumb() {
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  border: (solid .35em transparent) null (solid .25em transparent);
  width: $h + .3em;
  height: $h + .3em;
  background: $colorThumb;
  background-clip: content-box;
  position: relative;
  z-index: 10;
  margin-top: -.1em;
  margin-left: .05em;
}

input[type='range'].n {
  
  display: block;
  margin: 1em auto;
  padding: 0;
  background: transparent;
  font-size: 1em;
  cursor: pointer;
  width: $w;
  position: relative;

  &, 
  &::-webkit-slider-runnable-track, 
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  &:after {
    content: "";
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: $colorTrack;
    position: absolute;
    right: 0;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    right: $h - .2em;
    height: $h;
    background: 
      (
        radial-gradient(circle at $h/2 50%, $colorTrack .3125em,  $colorTrack .3125em, $colorTrack $h/2,transparent $h/2),
        linear-gradient(90deg, transparent 0, $colorTrack 0) repeat-x 0 50%
      );
    box-sizing: border-box;
  }

  &::-ms-track {
    border: none;
    color: transparent;
  }
  &::-webkit-slider-thumb {
    @include thumb();
  }
  &::-moz-range-thumb {
    @include thumb();
  }
  &::-ms-thumb {
    @include thumb();
  }
  &::-ms-tooltip {
    display: none
  }
  &:focus {
    outline: none;
  }
}

@for $n from 2 through 10 {
  @include trackN($n);
}
