
.informations {
  margin-top: 50px;
  border: 2px solid;
  padding: 20px;
}

.spinner {
  margin-top: 20px;
}

.error {
  color: red;
  margin-bottom: 20px;
  }

  .mat-card {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin:1em auto;
  }
  
  .mat-card > * {
    width: 100%;
  }

  form{
    display: contents;
  }